---
---

<section 
	id="home"
	class="relative w-full h-[20vh] min-h-[300px] bg-cover bg-center bg-no-repeat px-4 md:px-8"
	style="background-image: url('/images/hero-section/hero-bg.jpg');"
>
	<div class="max-w-7xl mx-auto relative h-full">
		<!-- Horminy Logo - Top Left -->
		<div class="absolute top-4 md:top-6 z-10">
			<img 
				src="/images/hero-section/horminy-logo.png" 
				alt="Horminy Adult Foster Care Home Logo" 
				class="max-w-[239px] md:max-w-[299px] lg:max-w-[357px] w-auto h-auto"
				width="357"
				height="100"
				fetchpriority="high"
			/>
		</div>
	</div>
</section>
